<div>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <span [onlyForScreen]="'desktop'">Shown on desktop screens</span><br/>
  <span [onlyForScreen]="'tablet'">Shown on tablet screens</span><br/>
  <span [onlyForScreen]="'mobile'">Shown on mobile screens</span><br/>
  <span [onlyForScreen]="'desktop'">Shown on desktop screens</span><br/>
  <span [onlyForScreen]="'tablet'">Shown on tablet screens</span><br/>
  <span [onlyForScreen]="'mobile'">Shown on mobile screens</span><br/>
  <span [onlyForScreen]="'desktop'">Shown on desktop screens</span><br/>
  <span [onlyForScreen]="'tablet'">Shown on tablet screens</span><br/>
  <span [onlyForScreen]="'mobile'">Shown on mobile screens</span><br/>
  <span [onlyForScreen]="'desktop'">Shown on desktop screens</span><br/>
  <span [onlyForScreen]="'tablet'">Shown on tablet screens</span><br/>
  <span [onlyForScreen]="'mobile'">Shown on mobile screens</span><br/>
  <span [onlyForScreen]="'desktop'">Shown on desktop screens</span><br/>
  <span [onlyForScreen]="'tablet'">Shown on tablet screens</span><br/>
  <span [onlyForScreen]="'mobile'">Shown on mobile screens</span><br/>
  <span [onlyForScreen]="'desktop'">Shown on desktop screens</span><br/>
  <span [onlyForScreen]="'tablet'">Shown on tablet screens</span><br/>
  <span [onlyForScreen]="'mobile'">Shown on mobile screens</span><br/>
  <span [onlyForScreen]="'desktop'">Shown on desktop screens</span><br/>
  <span [onlyForScreen]="'tablet'">Shown on tablet screens</span><br/>
  <span [onlyForScreen]="'mobile'">Shown on mobile screens</span><br/>
  <span [onlyForScreen]="'desktop'">Shown on desktop screens</span><br/>
  <span [onlyForScreen]="'tablet'">Shown on tablet screens</span><br/>
  <span [onlyForScreen]="'mobile'">Shown on mobile screens</span><br/>
  <span [onlyForScreen]="'desktop'">Shown on desktop screens</span><br/>
  <span [onlyForScreen]="'tablet'">Shown on tablet screens</span><br/>
  <span [onlyForScreen]="'mobile'">Shown on mobile screens</span><br/>
  <span [onlyForScreen]="'desktop'">Shown on desktop screens</span><br/>
  <span [onlyForScreen]="'tablet'">Shown on tablet screens</span><br/>
  <span [onlyForScreen]="'mobile'">Shown on mobile screens</span><br/>
  <span [onlyForScreen]="'desktop'">Shown on desktop screens</span><br/>
  <span [onlyForScreen]="'tablet'">Shown on tablet screens</span><br/>
  <span [onlyForScreen]="'mobile'">Shown on mobile screens</span><br/>
  <span [onlyForScreen]="'desktop'">Shown on desktop screens</span><br/>
  <span [onlyForScreen]="'tablet'">Shown on tablet screens</span><br/>
  <span [onlyForScreen]="'mobile'">Shown on mobile screens</span><br/>
  <span [onlyForScreen]="'desktop'">Shown on desktop screens</span><br/>
  <span [onlyForScreen]="'tablet'">Shown on tablet screens</span><br/>
  <span [onlyForScreen]="'mobile'">Shown on mobile screens</span><br/>
  <span [onlyForScreen]="'desktop'">Shown on desktop screens</span><br/>
  <span [onlyForScreen]="'tablet'">Shown on tablet screens</span><br/>
  <span [onlyForScreen]="'mobile'">Shown on mobile screens</span><br/>
  <span [onlyForScreen]="'desktop'">Shown on desktop screens</span><br/>
  <span [onlyForScreen]="'tablet'">Shown on tablet screens</span><br/>
  <span [onlyForScreen]="'mobile'">Shown on mobile screens</span><br/>
  <span [onlyForScreen]="'desktop'">Shown on desktop screens</span><br/>
  <span [onlyForScreen]="'tablet'">Shown on tablet screens</span><br/>
  <span [onlyForScreen]="'mobile'">Shown on mobile screens</span><br/>
  <span [onlyForScreen]="'desktop'">Shown on desktop screens</span><br/>
  <span [onlyForScreen]="'tablet'">Shown on tablet screens</span><br/>
  <span [onlyForScreen]="'mobile'">Shown on mobile screens</span><br/>
  <span [onlyForScreen]="'desktop'">Shown on desktop screens</span><br/>
  <span [onlyForScreen]="'tablet'">Shown on tablet screens</span><br/>
  <span [onlyForScreen]="'mobile'">Shown on mobile screens</span><br/>
  <span [onlyForScreen]="'desktop'">Shown on desktop screens</span><br/>
  <span [onlyForScreen]="'tablet'">Shown on tablet screens</span><br/>
  <span [onlyForScreen]="'mobile'">Shown on mobile screens</span><br/>
  <span [onlyForScreen]="'desktop'">Shown on desktop screens</span><br/>
  <span [onlyForScreen]="'tablet'">Shown on tablet screens</span><br/>
  <span [onlyForScreen]="'mobile'">Shown on mobile screens</span><br/>
  <span [onlyForScreen]="'desktop'">Shown on desktop screens</span><br/>
  <span [onlyForScreen]="'tablet'">Shown on tablet screens</span><br/>
  <span [onlyForScreen]="'mobile'">Shown on mobile screens</span><br/>
  <span [onlyForScreen]="'desktop'">Shown on desktop screens</span><br/>
  <span [onlyForScreen]="'tablet'">Shown on tablet screens</span><br/>
  <span [onlyForScreen]="'mobile'">Shown on mobile screens</span><br/>
  <span [onlyForScreen]="'desktop'">Shown on desktop screens</span><br/>
  <span [onlyForScreen]="'tablet'">Shown on tablet screens</span><br/>
  <span [onlyForScreen]="'mobile'">Shown on mobile screens</span><br/>
  <span [onlyForScreen]="'desktop'">Shown on desktop screens</span><br/>
  <span [onlyForScreen]="'tablet'">Shown on tablet screens</span><br/>
  <span [onlyForScreen]="'mobile'">Shown on mobile screens</span><br/>
  <span [onlyForScreen]="'desktop'">Shown on desktop screens</span><br/>
  <span [onlyForScreen]="'tablet'">Shown on tablet screens</span><br/>
  <span [onlyForScreen]="'mobile'">Shown on mobile screens</span><br/>
  <span [onlyForScreen]="'desktop'">Shown on desktop screens</span><br/>
  <span [onlyForScreen]="'tablet'">Shown on tablet screens</span><br/>
  <span [onlyForScreen]="'mobile'">Shown on mobile screens</span><br/>
  <span [onlyForScreen]="'desktop'">Shown on desktop screens</span><br/>
  <span [onlyForScreen]="'tablet'">Shown on tablet screens</span><br/>
  <span [onlyForScreen]="'mobile'">Shown on mobile screens</span><br/>
  <span [onlyForScreen]="'desktop'">Shown on desktop screens</span><br/>
  <span [onlyForScreen]="'tablet'">Shown on tablet screens</span><br/>
  <span [onlyForScreen]="'mobile'">Shown on mobile screens</span><br/>
  <span [onlyForScreen]="'desktop'">Shown on desktop screens</span><br/>
  <span [onlyForScreen]="'tablet'">Shown on tablet screens</span><br/>
  <span [onlyForScreen]="'mobile'">Shown on mobile screens</span><br/>
  <span [onlyForScreen]="'desktop'">Shown on desktop screens</span><br/>
  <span [onlyForScreen]="'tablet'">Shown on tablet screens</span><br/>
  <span [onlyForScreen]="'mobile'">Shown on mobile screens</span><br/>
</div>
